# do not share database bitween prod and dev
db.sqlite3
# leave log only dev
log/request.log
log/debug.log
# leave test only dev
test
# leave operation-related doc only dev
operation/
# develop environment setting file is not needed to be uploaded
config/local_settings.py