{% extends "base.html" %}
{% block title %}Code Master{% endblock %}
{% load staticfiles %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">入室状況</h1>
    </div>

    <!-- Contents Row -->
    <div class="row">
        <div class="col-xl-5 col-md-6 mb-4">
            <!-- number of entry(today)  -->
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">入室者数(本日)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5人</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-md-6 mb-4">
            <!-- number of entry(monthly)  -->
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">入室者数(月間)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5人</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- pi Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">入室率</h6>
            </div>
            <div class="card-body col-12">
                <canvas id="myPieChart" class="chartjs-render-monitor"></canvas>
               <!-- end of entry user  -->
            </div>
        <!-- end of pi chart -->
        </div>



    </div>

    <!-- Contents Row -->
    <div class="row">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">入室中ユーザー</h6>
            </div>
            <div class="card-body col-12">
                <!-- entry user  -->
                <div class="mb-3 mx-3">
                    {% for ce in current_entry %}
                    <span class="mr-3 d-none d-lg-inline small">{{ce.line_name}}</span>
                    <img class="img-profile rounded-circle" src="{{ce.user_img}}" width="64" height="64">
                    {% endfor%}
                </div>
                <!-- end of entry user  -->
            </div>
        </div>


        <!-- データ -->
        <!-- <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">ログ取得</h6>
            </div>
            <div class="card-body">
                <p>{{log_txt}}</p>
            </div> -->
        <!-- </div> -->

    </div>
    <!-- End of Contents Row -->

</div>
<!-- /.container-fluid -->

{% endblock %}