{% extends "base.html" %}
{% block title %}Log{% endblock %}
{% load staticfiles %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Line Beacon ログ</h1>
    </div>

    <!-- Contents Row -->
    <div class="row">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">説明</h6>
            </div>
            <div class="card-body">
                <p>これは入退室管理システムのデモページです。このページ以外の機能は実装されていません。Line Beaconを利用し、
                    Line Botと友達になっているスマホが近づくとサーバーにWebhookされる仕組みです。
                </p>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="log-table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>reply token</th>
                                <th>line id</th>
                                <th>timestamp</th>
                                <th>hwid</th>
                                <th>enter or leave</th>
                            </tr>
                    </thead>
                        <tbody>
                            {% for bl in beacon_log %}
                            <tr>
                                <th style="font-weight: lighter">{{bl.reply_token}}</th>
                                <th style="font-weight: lighter">{{bl.line_id}}</th>
                                <th style="font-weight: lighter">{{bl.timestamp}}</th>
                                <th style="font-weight: lighter">{{bl.hwid}}</th>
                                <th style="font-weight: lighter">{{bl.enter_or_leave}}</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
               test: {{test}}
               testa: {{beacon_log.9.timestamp}}
            </div>
        </div>

    </div>
    <!-- End of Contents Row -->

</div>
<!-- /.container-fluid -->


<script>
// ///////////////////
// table
// ///////////////////
$(document).ready(function () {
    $('#log-table').DataTable({
      responsive: true,
      // sort機能の有効化
      ordering: true,
      // ページの表示件数を変更する
      displayLength: 50,
    });
  });
</script>
{% endblock %}